#header{
    color: #ADF8FF;
    font-family: 'Nosifer', cursive;
    font-size-adjust: initial;
    font-size: 100px;
    margin-top: 0px;
    text-align: center;
    border: 12px double;
    background: url("https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/4/4c/Rain_for_Rain.gif/revision/latest?cb=20160714232924");
    margin: 0px;
}

#quote{
    color: white;
}
#bartitle{
    font-size: 30px;
    font-family:'Neucha', cursive;
}
#slide{
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    width: 50%;
}

#aboutuslogo{
    /*border: #ADF8FF dotted 4px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.mainparagraphus{
    color: black;
    font-family:'Neucha', cursive;
    font-size: 22px;
}

body {
  background: #55B3D7;

}
footer{
    color: red;
    font-family: 'Libre Barcode 39 Text', cursive;
}

#navagation{
 list-style-type: none;
 margin: 0px;
    margin-top: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #FFDFC9;

}
.nav1{
    float:left;
    border-right: 1px solid #bbb;
}
.nav1 a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #FFDFC9;
    color: #111111;
    alignment: center;
}
.nav1 a:hover {
    background-color: #B29C8D;
}

#aboutuslogo {
   width: 200px;
   height: 208px;
}
#contactAbout h2{
    color: whitesmoke;
    text-shadow: 2px 2px 8px #111111;
    text-align: center;
    padding: 2%;
}
#contactAbout p{
    color: whitesmoke;
    text-align: center;

}
#subAbout{
    margin-top: 4.5%;
    padding-left: 1%;
    border: 4px groove;
    width: 40%;
    overflow: auto;

}

#note{
    font-size: 8px;
}
#specsTable{
    width: 100%;
}
table{
    font-family: arial,sans-serif;
    border-collapse: collapse;
    width:100%;

}
td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color:  #dddddd;
}
tr:hover {
    background-color: cadetblue;
}
#specH{
    color: whitesmoke;
    text-shadow: 2px 2px 8px #111111;
    text-align: center;
}
#specP{
    color: whitesmoke;
    text-align: center;

}
#techSupport{

  float: left;
    overflow:auto;
    margin-left: 12%;
    margin-right: 3%;
    border: 4px groove;


}


