#header{
    color: #ADF8FF;
    font-family: 'Nosifer', cursive;
    font-size-adjust: initial;
    font-size: 100px;
    margin-top: 0px;
    text-align: center;
    border: 12px double;
    background: url("https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/4/4c/Rain_for_Rain.gif/revision/latest?cb=20160714232924");
    margin: 0px;
}
#item{
    height: 400px;
    width: 400px;
    top: 100px;
    alignment: center;

}
#quote{
    color: white;
}
#bartitle{
    font-size: 30px;
    font-family:'Neucha', cursive;
}

#aboutuslogo{
    /*border: #ADF8FF dotted 4px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.mainparagraphus{
    color: black;
    font-family:'Neucha', cursive;
    font-size: 22px;
}

body {
  background: #55B3D7;

}
footer{
    color: red;
    font-family: 'Libre Barcode 39 Text', cursive;
}

#navagation{
 list-style-type: none;
 margin: 0px;
    margin-top: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #FFDFC9;

}
.nav1{
    float:left;
    border-right: 1px solid #bbb;
}
.nav1 a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #FFDFC9;
    color: #111111;
    alignment: center;
}
.nav1 a:hover {
    background-color: #B29C8D;
}

#aboutuslogo {
   width: 200px;
   height: 208px;
}

