#header{
    color: darkblue;
    font-family: 'Nosifer', cursive;
    font-size-adjust: initial;
    font-size: 100px;
    margin-top: 0px;
    text-align: center;
    border: 12px double;
    background: url("https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/4/4c/Rain_for_Rain.gif/revision/latest?cb=20160714232924");

}
body {
  background: cornflowerblue;

}
footer{
    color: red;
    font-family: 'Libre Barcode 39 Text', cursive;
}

#navagation{
 list-style-type: none;
 margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav1{
    float:left;
    border-right: 1px solid #bbb;
}
.nav1 a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav1 a:hover {
    background-color: #111;
}

#aboutuslogo {
   width: 200px;
   height: 208px;
}